/* HEADER */
#header { background: url(../images/header1.jpg) top center no-repeat; height: 88px; }
#header-inner { width: 950px; height: 88px; margin: 0 auto; position: relative; }
#logo-title { width: 50%; float: left; }
#login-reg { width: 117px; height: 19px; background: url(../images/login-reg-bg.jpg) no-repeat; position: absolute; right: 183px; top: 32px; }
#login-reg a {  }
#login-reg #reg-link { position: absolute; right: 0; }
#header .block-search { width: 182px; height: 24px; position: absolute; right: 0; top: 27px; }
form#search-block-form .search-box .form-item { margin: 0; float: left; }


/* PAGE */
body.sidebar-right #main { width: 680px; margin-right: 20px; float: left; }
body.sidebar-right #sidebar-right { width: 210px; float: left; text-align: right; }


/* LISTS */
ul.menu { padding: 0; margin: 0; }
ul.menu li { list-style: none; margin: 0; }


/* CONTENT TOP */
#content-top { margin-bottom: 20px; }

/* MAIN */
#main { margin: 0; }
#main #content { margin-bottom: 30px; }

/* CONTAINER */
#page #container { background: url(../images/page-bg.jpg) top left no-repeat; }
#page #container #container-inner { padding: 5px 0 0 30px; }


/* FOOTER */
#footer { position: relative; }
div#footer-wrapper { background:url(../images/footer-bg.jpg) no-repeat scroll center center transparent; height:157px; }
#footer .content>ul.menu { position: absolute; right: 0; top: 20px; font-size: 10px; }
#footer .content>ul.menu>li.expanded { width: 150px; float: left; } 


/* PANELS */
.panel-3col .panel-col-first, .panel-3col .panel-col-last { width: 15%; }
.panel-3col .panel-col { width: 65%; }
.panel-3col .panel-col .inside { padding-right: 20px; }
.panel-3col .panel-col .inside { margin: 0; }
.panel-col-first .panel-pane h2.pane-title { margin: 0; color: #25928c; font-size: 1.1em; }
.panel-3col .panel-col .panel-separator { margin: 0; clear:both; }
#why-join { margin: 20px 0 30px 0; }
body.page-node .panel-col .panel-separator { margin-bottom: 40px; }
.panels-related-content .item-list ul li { display: block; width: 30%; float: left; padding: 0 5px; }
.panel-content-profile {}
body.page-user .panel-3col .panel-col .panel-separator { clear: none; }


/* POSTS */
.recent-post-user-picture-wrapper { float: left; width: 70px; }
.recent-posts-content .content { padding-right: 65px; }

/* VIEWS */
.view-recent-posts .views-row-odd, .view-recent-posts .views-row-even { margin-bottom: 20px; }


/* NODES */
body.page-node .node .facebook-user-picture { width: 60px; float: right; margin: 0 0 10px 10px; }
.node .facebook-user-picture { line-height: 1.0em; }
.node p { line-height: 1.2em;}
body.page-node .panel-col .node .content { margin-top: 20px; }
.node .terms ul.links li { padding: 0; }
.node .content { margin-bottom: 20px; }


/* COMMENTS */
body.page-node .comment .facebook-user-picture { float: left; width: 70px; }
.comment-content-wrapper { background: #feffe5 url(../images/balloon-pixel.jpg) 0 0 repeat-x; min-height: 78px; position: relative; }
.bl { background: url(../images/bl.jpg) 0 100% no-repeat; min-height: 78px; }
.br { background: url(../images/br.jpg) 100% 100% no-repeat; }
.tl { background: url(../images/tl.jpg) 0 0 no-repeat; min-height: 78px;  }
.tr { background: url(../images/tr.jpg) 100% 0 no-repeat; padding: 10px 10px 5px 30px;  }
.b { background: url(../images/balloon-pixel.jpg) 0 100% repeat-x; }
.l { background: url(../images/balloon-pixel-left.jpg) 0 0 repeat-y; }
.r { background: url(../images/balloon-pixel.jpg) 100% 0 repeat-y; }
.comment .vote-up-down-widget { display: none; float: none; position: absolute; width: 17px; bottom: 0; }
.comment .vote-points { display: none; }
.comment .links { padding-left: 70px; margin-bottom: 20px; }
.comment h3 { margin-bottom: 3px; font-weight: bold; }
.comment h3 a:link, .comment h3 a:visited { text-decoration: none; }



/* PROFILE */
body.page-user #fb-picture { float: right; }
/* body.page-user #main { width: 60%; } */
body.page-user .panels-profile-pic { float: right; }
body.page-user #panels-profile-user-info h1 { margin-bottom: 0; }
body.page-user #panels-profile-user-info h3 { font-size: 1.1em; margin-bottom: 20px; }
body.page-user .panel-content-profile { margin-bottom: 30px; }
body.page-user #panels-profile-groups { width: 50%; float: left; }
body.page-user #panels-profile-contributions { width: 50%; float: left; }
body.page-user #panels-profile-groups .pane-content, body.page-user #panels-profile-contributions .pane-content { padding: 5px 20px 0 0; }