/* SEARCH BOX */
#header form#kosmos-search-form .block-ihsgeneral, #header form#kosmos-search-form-1 .block-ihsgeneral { width: 193px; height: 24px; }
#header form#kosmos-search-form input.form-text, #header form#kosmos-search-form-1 input.form-text { background: url(../images/search-box-left.jpg) no-repeat; width: 159px; height: 24px; border: none; margin: 0; padding-left: 7px; color: #25928c; line-height: 24px; }


/* HEADER */
a.welcome { text-transform: uppercase; }
a.welcome:link, a.welcome:visited { color: #98cbc8; text-decoration: none; font-size: 13px; line-height: 19px; }

/* HEADINGS */
body.front h2, body.front h3 { color: #6e6e6e; }
body.not-front .panel-col h2 { font-size: 2em; }

/* CONTENT */
a, a:visited { color: #25928c; text-decoration: underline; }
.colored-text { color: #25928c; }
p { color: #454545; }
#why-join ul li { background: url(../images/bullet.jpg) left center no-repeat; font-size: 1.4em; color: #6e6e6e; font-weight: bold; padding: 3px 0 3px 28px; }


/* FEATURED POSTS */
body.front .recent-posts-content { background: url(../images/balloon.jpg) no-repeat; height: 111px; padding-top: 5px; padding-left: 35px; margin-left: 60px; }
#front-featured-posts { position: relative; top: -3px; }
#front-featured-posts h2.pane-title { font-size: 2.0em; color: #464646; margin-bottom: 15px;  }
.recent-posts-content h2 a  { font-size: 1.05em; font-weight: bold;  text-decoration: none; }

/* PANELS */
.panel-col-first ul.menu { text-transform: uppercase; margin-bottom: 40px; }
.panel-col p { font-size: 1.2em; }
.panel-col-first ul.menu li.leaf a, .panel-col-first ul.menu li.leaf a:visited,
.panel-col-first ul.menu li.expanded a, .panel-col-first ul.menu li.expanded a:visited,
.panel-col-first ul.menu li.collapsed a, .panel-col-first ul.menu li.collapsed a:visited { color: #454545; text-decoration: none; }
.panel-col ul { list-style: none; margin: 0; padding: 0; }
.panel-col ul li { list-style: none; margin: 0; padding: 0; }
body.page-node .panel-col h2.pane-title { font-size: 2.0em; }
.panels-related-content h3 { font-size: 1.1em; }
.panel-3col .panel-col-last .panel-separator { background: url(../images/horizontal-separator.jpg) no-repeat; height: 12px; }
.panel-3col .panel-col-last h2.pane-title { font-size: 1.6em; color: #464646; }
body.not-front .panel-3col .panel-col h2.pane-title { font-size: 2em; }

/* LISTS */
.view-recent-comments-for-user ul li { list-style-type: none; }

/* FOOTER */
#footer ul.menu li.leaf a, #footer ul.menu li.leaf a:visited  { color: #7e7e7e; text-decoration: none; }
#footer ul.menu li.expanded>a, #footer ul.menu li.expanded>a:visited { color: #030303; text-decoration: none; }


/* NODES */
.node .submitted { color: #888; }
body.page-node .panel-col p { color: #646464; }
.node .terms ul.links li a:link, .node .terms ul.links li a:visited { color: #646464; text-decoration: underline; }


/* COMMENTS */
.comments-panel h3 { font-size: 1.1em; }
.view-recent-comments-for-user .comment-node { color: #6e6e6e; clear: left; }
.view-recent-comments-for-user .comment-node a:link, .view-recent-comments-for-user .comment-node a:visited { text-decoration: none; }

/* GROUPS */
body.node-type-group .panel-3col .panel-col .panel-separator + .panel-pane h2.pane-title { font-size: 1.5em; }
body.node-type-group .recent-posts-content { background: url(../images/balloon.jpg) no-repeat; height: 111px; padding-top: 5px; padding-left: 35px; margin-left: 60px; }
body.not-front .panel-col .recent-posts-content h2 { font-size: 1.5em; padding-right: 65px; }
